<div class="modal-header">
    <h4 class="modal-title">Adicionar Cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
      <div class="form-group">
        <label for="title">Nome*</label>
        <input type="text" id="name" placeholder="Name" class="form-control" formControlName="name" />
        <span style="color:Red;" *ngIf="clientForm.controls['name'].touched && clientForm.controls['name'].errors?.required">Nome
          é Requerido.</span>
      </div>
      <div class="form-group">
        <label for="address">Endereço</label>
        <textarea  id="address" placeholder="Endereço" class="form-control" formControlName="address"></textarea>
        <span style="color:Red;" *ngIf="clientForm.controls['address'].touched && clientForm.controls['address'].errors?.required">Endereço
          é Requerido.</span>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="married" formControlName="married">
        <label class="form-check-label" for="married">
          Casado
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
    <button class="btn btn-primary" (click)="saveClient()" [disabled]="clientForm.invalid">Salvar</button>
  </div>