<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Não é mais necessário chamar <app-client></app-client> pois já está sendo feito por <router> -->
<!-- <app-client></app-client> -->

<app-menu></app-menu>
<router-outlet></router-outlet>