<div class="container">
    <br>
    <div class="row col-md-12">
        <div class="row col-md-8">
            <h4>Cadastro de Clientes!</h4>
        </div>

        <div class="row col-md-4">
            <button class="btn btn-success" (click)="addClient()">
                Adicionar Cliente
            </button>
        </div>
    </div>
    <br>

    <table class="table table-striped" *ngIf="clients && clients.length > 0">
        <thead>
            <tr>
                <th>Casado</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients, let index = index">
                <td><input type="checkbox" [checked]="client.married" (change)="checkedMarried(index)" /></td>
                <td [ngClass]="{'married': client.married, 'not-married': !client.married}">{{client.name}}</td>
                <td>{{client.address}}</td>
                <td>{{client.dateUpd | date}}</td>
                <td>
                    <button class="btn btn-primary" (click)="EditClick(client)">Editar</button>
                    <button class="btn btn-danger" (click)="DeleteClick(client.id, index)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>